<div class="filters">
  <div class="search">
    <input type="text" name="search" id="search" [(ngModel)]="searchQuery" (ngModelChange)="searchCountries()"/>
  </div>
  <div>
    <label *ngFor="let head of tableHeads; index as i" for="header-{{ i }}">
      {{ head.name }}
      <input
        id="header-{{ i }}"
        type="checkbox"
        name="head"
        [(ngModel)]="tableHeads[i].checked"
      />
    </label>
  </div>
</div>
<div class="inner-container">
  <table>
    <tr>
      @for (head of tableHeads; track $index) { @if (head.checked) {
      <th (click)="sortCountries(head.name)">{{ head.name }}</th>
      } }
    </tr>
    @if(searchQuery == ""){
    <tr *ngFor="let country of countries; index as i">
      @for (head of tableHeads; track $index) { @if (head.checked) {
      <td>{{ country[head.name] }}</td>
      } }
    </tr>
    } @else {
    <tr *ngFor="let country of searchResult; index as i">
      @for (head of tableHeads; track $index) { @if (head.checked) {
      <td>{{ country[head.name] }}</td>
      } }
    </tr>
    }
  </table>
</div>
